---
layout: default
_home: true
reel_principal_url: 'https://player.vimeo.com/video/383154335'
servicos:
  - id: ticker-1
    conteudo:
      - text_html: <strong>Animação.</strong>
      - text_html: motion.
      - text_html: 3D.
      - text_html: 2D.
      - text_html: vfx.
      - text_html: direção criativa.
      - text_html: ilustração.
  - id: ticker-2
    conteudo:
      - text_html: storyboard.
      - text_html: direção de arte.
      - text_html: <strong>publicidade.</strong>
      - text_html: frame-a-frame.
  - id: ticker-3
    conteudo:
      - text_html: roteiro.
      - text_html: <strong>pós-produção.</strong>
      - text_html: edição.
      - text_html: composition.
      - text_html: coordenação.
  - id: ticker-4
    conteudo:
      - text_html: color-grading.
      - text_html: finalização.
      - text_html: projetos.
      - text_html: <strong>idéias.</strong>
      - text_html: e mucho más.
equipe:
  - nome: Caja Guedes
    avatar_image: /assets/images/caja1.jpg
    alt_text: Caja Guedes Bogotá Estúdio de Animação
    bio_text: Fundador e Diretor
    pizza: Quatro Queijos
  - nome: Denise Azzi
    avatar_image: /assets/images/de1.jpg
    alt_text: Denise Azzi Bogotá Estúdio de Motion Design
    bio_text: Fundadora e Motion Designer
    pizza: Marguerita
  - nome: Tiago Bahia
    avatar_image: /assets/images/ba1.jpg
    alt_text: Tiago Bahia Bogotá Estúdio de Animação 3D
    bio_text: Motion Designer e 3D generalista
    pizza: Pepperoni com Cebola
  - nome: Gessica Secchi
    avatar_image: /assets/images/ge1.jpg
    alt_text: Gessica Secchi Bogotá Estúdio de Ilustração e Animação
    bio_text: Motion Designer e Ilustradora
    pizza: Calabresa
  - nome: Luiz Brito
    avatar_image: /assets/images/lu1.jpg
    alt_text: Luiz Brito Bogotá Estúdio de Produção e Animação
    bio_text: Atendimento e Produção Executiva
    pizza: Chocolate
---

<header id="header" class="header padding-x-lg padding-y-md">
  <div class="logo-container mb-1">
    <a href="/"><img src="/assets/graphics/logo-main-fill.svg" alt="bogotá estúdio video motion graphics" /></a>
  </div>
  <hr class="blue-divider" />
  <div id="header-content" class="atf-content editable">
    <h2>&iexcl;Hola!</h2>
  <!-- <p><small></small></p> -->
    <small><h2>Somos a</h2></small>
    <h1><span>Bogot&aacute;.</span></h1>
  </div>
  <nav id="nav" class="desktop-nav mobile-hide">
    <ul>
      <li class="nav-link"><a href="/">Bogotá</a></li>
      <li class="nav-link"><a href="#reel">Reel</a></li>
      <li class="nav-link"><a href="#portfolio">Trabalhos</a></li>
      <li class="nav-link"><a href="#team">Time</a></li>
      <li class="nav-link"><a href="#footer">Contato</a></li>
    </ul>
  </nav>
</header>
<section class="shaka-container padding-x-lg flex-end">
  <div class="shaka">
    <video id="shaka" src="/assets/maozinha.mp4" type="video/mp4" playsinline></video>
  </div>
</section>
<main>

  <section id="scramble" class="scramble padding-x-lg padding-y-md">
    <hr class="small-divider mb-2" />
    <p>Um <span id="line-1" class="word-scramble" data-default-text="estúdio">estúdio</span></p>
    <p>especializado em <span id="line-2" class="word-scramble" data-default-text="imagens em movimento">imagens em movimento</span></p>
    <p>situados <span id="line-3" class="word-scramble" data-default-text="no meio de tudo e mais um pouco">no meio de tudo e mais um pouco</span></p>
    <p>misturando <span id="line-4" class="word-scramble" data-default-text="linguagens">linguagens</span> e explorando <span id="line-5" class="word-scramble" data-default-text="caminhos">caminhos</span></p>
    <p>e entregando <span id="line-6" class="word-scramble" data-default-text="no prazo.">no prazo.</span></p>
  </section>
  <div style="overflow: hidden;">
    <svg preserveaspectratio="none" viewbox="0 0 1199 119" xmlns="http://www.w3.org/2000/svg" class="waves-divider">
      <path d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z" />
      <g class="wave">
     <!-- <use xlink:href="#gentle-wave" x="50" y="3" /> -->
    </g>
    </svg>
  </div>
  
  <section id="reel" class="reel flex-center padding-y-lg">
    <h3 class="reel-title">Assista o nosso reel</h3>
    <span id="arrow" class="reel-arrow"></span>
    <iframe title="vimeo-player" src="{{page.reel_principal_url}}" frameborder="0" allowfullscreen></iframe>
  </section>
  
  <section id="tickers" class="tickers bg-pink padding-y-md padding-x-sm">
    <div class="mobile-hide">
      {% for servico in page.servicos %}
        <ul id="{{servico.id}}" class="ticker-container {% cycle 'r-to-l', 'l-to-r' %}">
          {% for palavra in servico.conteudo %}
          <li class="ticker-element">{{palavra.text_html}}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
    <div class="mobile-show">
      {% for servico in page.servicos %}
      {% for palavra in servico.conteudo %}
      <span class="ticker-element">{{palavra.text_html}}</span>
      {% endfor %}
      {% endfor %}
    </div>
  </section>
  <section id="portfolio" class="portfolio padding-y-md padding-x-lg text-center bg-pink">
    <h2 class="impact mb-4 editable">
      Trabalhos_
    </h2>
      <div class="swiper-container">
        <div class="swiper-wrapper padding-x-md">
          {% for portfolio in site.portfolios %}
          <div class="swiper-slide">
            <div class="grid-noGutter-spaceAround-equalHeight">
              <div class="col-5_md-12-middle slide-frame flex-center">
                <iframe title="vimeo-player" src="{{portfolio.video_url}}" frameborder="0" class="portfolio-preview"></iframe>              
              </div>
              <div class="col-5_md-12-middle">
                <div class="portfolio-container padding-y-lg">
                  {% for category in portfolio.categories %}
                  <span class="portfolio-category">{{category}}</span>
                  {% endfor %}
                  <span class="portfolio-title">{{portfolio.title}}</span>
                  <span class="portfolio-subtitle">{{portfolio.client}}</span>
                  <span class="portfolio-subtitle">{{portfolio.agency}}</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-prev "></div>
        <div class="swiper-button-next "></div>
      </div>
  
  </section>
  <section id="team" class="team bg-blue">
    <div class="padding-x-lg padding-y-md">
      <h2 id="team-title" class="impact text-light text-right editable">
        Time_
      </h2>
      {% for member in page.equipe %}
      <div class="team-member grid-noGutter-spaceBetween{% cycle '', '-reverse' %} padding-x-lg padding-y-sm">
        <div class="col-6_md-12-middle">
          <div class="team-avatar">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="team-avatar-halo">
                <circle cx="50" cy="50" r="50"/>
            </svg>
            <img src="{{member.avatar_image}}" srcset="{{member.avatar_image | replace: 'jpg', 'webp'}}" loading="lazy" class="responsive-img team-avatar-image" alt="{{member.alt_text}}" />
          </div>
        </div>
        
        <div class="col-6_md-12-middle">
          <div class="team-bio">
            <h3 class="team-name">{{member.nome}}</h3>
            <p>
              {{member.bio_text}}
            </p>
            <p>
              Pizza favorita: {{member.pizza}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>