---
---
@import "_mixins";
// Main Stylesheet

// Colors
$primary-color          : {{site.data.settings.theme_settings.primary_color}};
$secondary-color        : {{site.data.settings.theme_settings.secondary_color}};
$accent-color           : {{site.data.settings.theme_settings.accent_color}};
// $shade-color            : {{site.data.settings.theme_settings.shade_color}};
// $complementary-color    : {{site.data.settings.theme_settings.complementary_color}};

// Fonts
$body-font        : {{ site.data.settings.theme_settings.body_font_family }};
$heading-font     : {{ site.data.settings.theme_settings.heading_font_family }};
$body-font-size   : {{ site.data.settings.theme_settings.body_font_size_number }};
$base-line-height : {{ site.data.settings.theme_settings.line_height_number }};


@import
  "_resets",
  "_utility",
  "_universal",
  // "_mixins",
  "_buttons",
  "_nav",
  "_footer",
  "_header",
  "_team",
  "_sliders",
  "_sections",
  "_media-queries";

.back-to-top {
  $axis: 60px;
  cursor: pointer;
  position: fixed;
  transform: translateY(250%);
  z-index: 10000;
  bottom: 2rem;
  right: 2rem;
  border: none;
  background-color: $primary-color;
  width: $axis;
  height: $axis;
  border-radius: 50%;
  &::before {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    content: "topo";

  }
  &::after {
    content: "\261D";
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100001;    
  }
}
.tickers {
  .ticker-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .ticker-element {
      font-size: 3.5rem;
      letter-spacing: 2px;
      text-transform: lowercase;
      strong {
        color: $accent-color;
      }
    }
  } 
}