@media (min-width: 300px) and (max-width: 320px) {
  h1,
  .impact {
    font-size: 3.5rem;
  }
  .header {
    min-height: unset;
    height: 80vh;
    .atf-content {
      h2 {
        font-size: 3.5rem;
      }
      small h2 {
        font-size: 2rem;
        text-indent: 2rem;
      }
      &::before {
        width: 230px;
        height: 230px;
        top: -2rem;
      }
    }
  }
  p,
  .tickers .ticker-container .ticker-element {
    font-size: 1.3rem;
    letter-spacing: 0;
  }
  .tickers .ticker-container {
    flex-direction: column;
  }
  .reel iframe {
    height: 200px;
    width: 100%;
  }
  .waves-divider {
    height: 32px;
    margin-bottom: -4px;
  }
  .footer {
    text-align: center;
    .footer-contact {
      padding: 2rem 0;
      text-align: center;
      h3,
      a {
        font-size: 1.5rem;
      }
    }
    .footer-social-link {
      margin-left: 0;
      margin: 0 0.5rem;
    }
    .flex-end {
      justify-content: center;
    }
  } 
  .team {
    .team-member,
    .team-member:nth-of-type(even) {
      .team-bio,
      .team-name {
        text-align: center;
      }
    }
    .team-member:nth-of-type(even) {
      .team-avatar {
        svg {
          bottom: -1rem;
          right: -1rem;
        }
      }
    }
    &::before {
      top: -50px;
      height: 100px;
    }
    .team-avatar {
      width: 270px;
      height: 270px;
      margin: auto;
      
        svg {
          top: -1rem;
          left: -1rem;
        }
      }
    
    .team-bio {
      p {
        font-size: 1.2rem;
      }
    }
    .team-name {
      font-size: 2rem;
    }
  }
  .desktop-nav {
    .nav-link {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  .shaka {
    height: 250px;
    margin-right: unset;
  }
  .shaka-container {
    margin-top: -60px;
  }
  .padding-y-md {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .padding-x-lg {
    padding-right: 3%;
    padding-left: 3%;
  }
  .logo-container img {
    width: 120px;
  }
  .scramble {
    margin-top: 0;
    p {
      font-size: 1.7rem;
    }
  }
  .mobile-hide {
    display: none;
  }
  .swiper-wrapper.padding-x-md {
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio-container {
    text-align: center;
  }
}

@media (min-width: 321px) and (max-width: 660px) {
  h1,
  .impact {
    font-size: 3.8rem;
  }
  .header {
    min-height: unset;
    height: 80vh;
    .atf-content {
      h2 {
        font-size: 4.5rem;
      }
      small h2 {
        font-size: 2.5rem;
        text-indent: 2rem;
      }
      &::before {
        width: 230px;
        height: 230px;
        top: -1rem;
      }
    }
  }
  p,
  .tickers .ticker-container .ticker-element {
    font-size: 1.3rem;
    letter-spacing: 0;
  }
  .tickers .ticker-container {
    flex-direction: column;
  }
  .reel iframe {
    height: 200px;
  }
  .waves-divider {
    height: 32px;
    margin-bottom: -4px;
  }
  .footer {
    text-align: center;
    .footer-contact {
      padding: 2rem 0;
      text-align: center;
      h3,
      a {
        font-size: 1.7rem;
      }
    }
    .footer-social-link {
      margin-left: 0;
      margin: 0 0.5rem;
    }
    .flex-end {
      justify-content: center;
    }
  } 
  .team {
    .team-member,
    .team-member:nth-of-type(even) {
      .team-bio,
      .team-name {
        text-align: center;
      }
    }
    &::before {
      top: -50px;
      height: 100px;
    }
    .team-avatar {
      width: 300px;
      height: 300px;
      margin: auto;
      svg {
        top: -3rem;
        left: -3rem;
      }
    }
    .team-bio {
      p {
        font-size: 1.2rem;
      }
    }
  }
  .desktop-nav {
    .nav-link {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  .shaka {
    height: 300px;
    margin-right: unset;
  }
  .shaka-container {
    margin-top: -120px;
  }
  .padding-y-md {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .padding-x-lg {
    padding-right: 3%;
    padding-left: 3%;
  }
  .logo-container img {
    width: 120px;
  }
  .scramble {
    margin-top: 0;
    p {
      font-size: 2rem;
    }
  }
  .mobile-hide {
    display: none;
  }
  .swiper-wrapper.padding-x-md {
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio-container {
    text-align: center;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
}


@media (min-width: 1175px) and (max-width: 1440px) {
  .header {
    .atf-content {
      &::before {
        height: 600px;
        width: 600px;
      }
      h2 {
        font-size: 10rem;
      }
      small h2 {
        font-size: 6rem;
      }
    }
  }
  .tickers .ticker-container .ticker-element {
    font-size: 2.5rem;
  }
  .scramble p {
    font-size: 2.9rem;
  }
  .waves-divider {
    height: 100px;
    margin-bottom: -4px;
  }
  .shaka {
    height: 500px;
    width: 500px;
  }
  .shaka-container {
    margin-top: -200px;
  }
  .impact {
    font-size: 8rem;
  }
  .team::before {
    height: 150px;
  }
}
@media (min-width: 1441px) and (max-width: 1600px) {
  .scramble p {
    font-size: 3.5rem;
  }
  .tickers .ticker-container .ticker-element {
    font-size: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1174px) {
  .header {
    .atf-content {
      &::before {
        height: 450px;
        width: 450px;
      }
      h2 {
        font-size: 8.5rem;
      }
      small h2 {
        font-size: 5rem;
      }
    }
  }
  .shaka {
    height: 400px;
    width: 400px;
  }
  .scramble p {
    font-size: 2.5rem;
  }
  .tickers {
    .ticker-container {
      .ticker-element {
        font-size: 2.5rem;
      }
    }
  }
}

@media (min-width: 2160px) {
  .impact {
    font-size: 20rem;
  }
  .logo-container img {
    width: 300px;
  }
  .desktop-nav .nav-link {
    font-size: 2.5rem;
  }
  .header .atf-content {
    &::before {
      width: 1200px;
      height: 1200px;
    }
    h2 {
      font-size: 20rem;
    }
    small h2 {
      font-size: 12rem;
      text-indent: 6rem;
    }
  }
  .scramble p {
    font-size: 7rem;
  }
  .shaka {
    width: 1000px;
    height: 1000px;
  }
  .tickers .ticker-container .ticker-element {
    font-size: 7rem;
  }
  .team {
    .team-avatar {
      width: 800px;
      height: 800px;
      &::before {
        top: -8rem;
        left: -8rem;
      }
    }
    .team-member:nth-of-type(even) {
      .team-avatar::before {
        bottom: -8rem;
        right: -8rem;
        top: unset;
        left: unset;
      }
    }
    .team-name {
      font-size: 4.5rem;
    }
    .team-bio p {
      font-size: 3rem;
    }
  }
  .reel iframe {
    width: 1600px;
    height: 900px;
  }
  .swiper-slide {
    .portfolio-subtitle {
      font-size: 3rem;
    }
    .portfolio-title {
      font-size: 3.5rem;
    }
    .portfolio-category {
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  }
  .footer {
    .footer-contact {
      a,
      h3 {
        font-size: 4.5rem;
      }
    }
    .footer-social-link {
      svg {
        width: 85px;
      }
    }
  }
}