@media (min-width: 300px) and (max-width: 660px) {
  h1,
  .impact {
    font-size: 3rem;
  }
  .header {
    min-height: unset;
    height: 80vh;
    .atf-content {
      h2 {
        font-size: 4rem;
      }
      small h2 {
        font-size: 2.3rem;
        text-indent: 2rem;
      }
    }
  }
  p,
  .tickers p {
    font-size: 2.2rem;
  }
  .atf-content::before {
    width: 300px;
    height: 300px;
  }
  .reel iframe {
    height: 200px;
  }
  .waves-divider {
    height: 32px;
    margin-bottom: -6px;
  }
  .footer .footer-contact h3,
  .footer .footer-contact a {
    font-size: 2rem;
  }
  .team {
    &::before {
      top: -50px;
      height: 100px;
    }
    .team-avatar {
      width: 300px;
      height: 300px;
    }
    .team-bio {
      p {
        font-size: 1.6rem;
      }
    }
  }
  .desktop-nav {
    .nav-link {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  .shaka {
    height: 220px;
  }
  .padding-y-md {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .logo-container img {
    width: 120px;
  }
}

@media (min-width: 1175px) and (max-width: 1440px) {
  .header {
    .atf-content {
      &::before {
        height: 600px;
        width: 600px;
      }
      h2 {
        font-size: 10rem;
      }
      small h2 {
        font-size: 6rem;
      }
    }
  }
  .tickers .ticker-container .ticker-element {
    font-size: 2.5rem;
  }
  .scramble p {
    font-size: 2.9rem;
  }
  .waves-divider {
    height: 100px;
    margin-bottom: -4px;
  }
  .shaka {
    height: 370px;
    width: 370px;
  }
  .shaka-container {
    margin-top: -200px;
  }
  .impact {
    font-size: 8rem;
  }
  .team::before {
    height: 150px;
  }
}
@media (min-width: 1441px) and (max-width: 1600px) {
  .scramble p {
    font-size: 3.5rem;
  }
  .tickers .ticker-container .ticker-element {
    font-size: 3rem;
  }
}
@media (max-width: 1174px) {
  .header {
    .atf-content {
      &::before {
        height: 550px;
        width: 550px;
      }
      h2 {
        font-size: 8.5rem;
      }
      small h2 {
        font-size: 5rem;
      }
    }
  }
  .shaka {
    height: 300px;
    width: 300px;
  }
}