.shaka-container {
  position: relative;
  margin-top: -300px;
  // transform: translateY(-50%);
  z-index: 99;
}
.shaka {
  height: 700px;
  width: 700px;
  margin-right: 5rem;
  left: 0 !important;
  position: relative !important;
  z-index: -1;
  video {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.intro video {
  height  : 100%;
  width   : 100%;
  object-fit: contain;
}

.scramble {
  margin-top: -200px;
  position: relative;
  z-index: 100;
  p {
    font-weight: 200;
  }
  span {
    color: $accent-color;
    font-weight: 700;
  }
}

.reel {
  background-color: $accent-color;
  iframe {
    width: 1000px;
    height: 700px;
  }
  &.flex-center {
    flex-direction: column;
  }
  .reel-title {
    text-transform: uppercase;
    color: $secondary-color;
    position: relative;
  }
  .reel-arrow {
    margin-bottom: none;
    &:after {
      content: "\2193";
      font-size: 2rem;
      color: $secondary-color;
    }
    // height: 2rem;
    // width: inherit;
    // height: inherit;
    // position: absolute;
    // top: 3rem;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
}


.tickers p {
  font-size: 3.2rem;
  letter-spacing: 2px;
  strong {
    color: $accent-color;
  }
}
.waves-divider {
  fill: $accent-color;
  width: 100%;
  height: 152px; // Must be responsive
  transform: rotate(180deg);
  margin-bottom:-7px;
} 