.tickers {
  .ticker-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    &.en {
      width: 125%;
    }
    .ticker-element {
      font-size: 3.5rem;
      letter-spacing: 2px;
      text-transform: lowercase;
      strong {
        color: $accent-color;
      }
    }
  } 
}

.mobile-show {
  text-align: justify;
  .ticker-element {
      font-size: 2rem;
      letter-spacing: 2px;
      text-transform: lowercase;
      // margin: 0 0.5rem; 
      strong {
        font-weight: inherit;
      }
    }
}