body,
html {
  background-color: #FFF;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font;
}

p,
a,
span,
ol,
ul,
li,
button,
input,
label,
textarea,
div,
small,
blockquote,
cite {
  font-family: $heading-font;
}

p {
  font-size: 4rem;
  color: $primary-color;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}