<footer id="footer" class="footer padding-x-lg padding-y-md bg-pink">
  <h2 id="contato" class="impact editable">
    Contato_
  </h2>
  <div class="grid-noGutter-spaceBetween">
  <div class="col-6_md-12-middle">
    <div class="footer-contact">
      <h3 class="email"><a href="mailto:{{site.data.settings.general.email}}">{{site.data.settings.general.email}}</a></h3>
      <h3 class="phone"><a href="https://wa.me/{{site.data.settings.general.phone | remove: ' ' | remove: '-' | remove: '(' | remove: ')' | remove: '+'}}">{{site.data.settings.general.phone}}</a></h3>
    </div>
    
  </div>  
  <div class="col-6_md-12-middle flex-end">
    <div class="footer-social">
      {% for item in site.data.settings.general.social %}
      <a href="{{item.url}}" class="footer-social-link" target="_blank" rel="noreferrer">{% include essentials/social-icons.html icon=item.icon %}</a>
      {% endfor %}
    </div>

  </div>  
  </div>
</footer>