<div class="container">
  <a href="/">
  <canvas class="pixi padding-y-sm padding-x-sm">
    <img src="{{site.data.settings.branding.nav_logo_image}}" alt="{{site.data.settings.branding.site_title}}" class="nav-logo">
  </canvas>
  </a> 
  <div class="navbar_button">
    <span id="bar1" class="bar"></span>
    <span id="bar2" class="bar"></span>
    <span id="bar2b" class="bar"></span>
    <span id="bar3" class="bar"></span>
  </div>
  <div class="round_nav">
  </div>
  <div class="nav_content">
    <ul>
      <li> Home </li>
      <li> Quem Somos </li>
      <li> Reels </li>
      <li> Contato </li>
    </ul>
  </div>
</div>

